.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  align-self: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.presentation {
  flex-direction: column;
}

.poke-img {
  resize: both;
  width : 180px;
  height: 180px;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
}

.poke-name {
  color: #7e7f9a;
}

.pokemon {
  background-color: #D9DCD6;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 5px solid #efefef;
    height: auto;
    border-radius: 40px;
    padding: 10px;
}

.stats {
  color: #282c34;
  display: flex;
  flex-direction: row;
  width: 60%;
  padding-top: 50px;
}

.statStr {
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  margin-right: 10px;
  text-align: end;
}

.statVal {
  text-align: start;
  align-self: flex-start;
}

.stat-bars{
  flex-direction: column;
  width: 70%;
  margin-left: 10px;
}
.progress { 
  height: 30px !important;
  background-color: whitesmoke !important;
  margin-bottom: 9px;
}

.progress-bar {
  height: 30px !important;
}
